.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    width: var(--default-layout-width);
    padding: var(--default-layout-horizontal-spacer);
    // background-color: aquamarine;
}
.content{
    flex: 1;
    min-height: 1000px;
    // background-color: yellowgreen;
}